<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>

<div class="menu-container">
    <h1>FELIPE BERTOLI <b>.DEV</b></h1>
    <hr>
    <div class="menu-details">
        <div class="menu-item">Home</div>
        <div class="menu-item">Sobre mim</div>
        <div class="menu-item">Projetos</div>
        <div class="menu-item">Contato</div>
    </div>

    <div class="menu-links">
        <div class="menu-link-item"><i class="fi fi-brands-github"></i></div>
        <div class="menu-link-item"><i class="fi fi-brands-linkedin"></i></div>
        <div class="menu-link-item"><i class="fi fi-brands-whatsapp"></i></div>
    </div>
</div>
