.skills-content {
    margin-top: 2rem;
    margin-right: 7rem;
}

.skills-content h2 {
    color: aqua;
}

.skills-grid {
    margin-top: 1rem;
    display: inline-block;
    width: 43rem;
}

.skill-item {
    margin-right: .5rem;
    margin-top: .3rem;

}

