<div class="details-container">
    <div class="skills-content">
        <h2>SKILLS</h2>
        <hr>
        <div class="skills-grid">
            <img class="skill-item" src="{{javaBadge}}"/> 
            <img class="skill-item" src="{{htmlBadge}}"/> 	
            <img class="skill-item" src="{{cssBadge}}"/> 
            <img class="skill-item" src="{{jsBadge}}"/> 
            <img class="skill-item" src="{{tsBadge}}"/> 
            <img class="skill-item" src="{{sqlBadge}}"/> 
            <img class="skill-item" src="{{springBadge}}">
            <img class="skill-item" src="{{angularBadge}}">
            <img class="skill-item" src="{{nodeBadge}}">
            <img class="skill-item" src="{{awsBadge}}">
            <img class="skill-item" src="{{oracleBadge}}">
        </div>
    </div>
</div>